* {
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #212121;
    z-index: 1;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 13px 70px;
    list-style: none;
}

.menu-item:not(:last-child) {
    padding-right: 50px;
    border-right: 2px dotted #000;
}

.menu-link {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
}

.subheader {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #00000080;
}

.subheader .container {
    padding-top: 16px;
    padding-bottom: 16px;
}

.subheader-logo {
    display: inline-block;
    max-width: 100%;
}

.subheader-official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
}

.subheader-call {
    margin-top: 7px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #ffffff;
}

.subheader-phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.subheader-btn {
    width: 178px;
    height: 46px;
    margin-top: 8px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.promo {
    padding: 200px 0 135px;
    background-image: url("../img/bg/main_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo-header {
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.promo-subheader {
    margin: 0;
    margin-top: 22px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.promo-desc {
    margin-top: 23px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.promo-btn {
    display: block;
    width: 265px;
    height: 69px;
    margin: 115px auto 0;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);

    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.advices {
    padding: 70px 0 65px;
}

.label {
    width: 112px;
    margin: 0 auto;
    padding: 8px 12px;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
}

.title {
    margin: 0;
    margin: 40px 0;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.advices-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.advices-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    margin-right: 26px;
    border-radius: 50%;
    background-color: #1eacc7;
}

.advices-desc {
    width: 410px;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #202020;
}

.advices-desc span {
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
}